extends ../layouts/main_layout.pug
include ../mixins/add_to_cart.pug

block content
	if product
		.centered
			h1 #{product.title}
			hr
			div.image
				img(src=product.imgURL, alt=product.title)
			h2 price: $ #{product.price}
			p #{product.desc}

			+addToCartForm(product._id)
			
	else
		h1 product not found